body{
    background-color:#008cfffd;
    
    
}
h1{
    color:rgb(231, 25, 25);
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-weight: bolder;
    font-size:100px;
    /* Alignment */
    display:flex;
    justify-content: center;
    align-items: center;
    height:70vh;
    

}